<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Code Marathon (编程马拉松)</title>
    <meta name="description" content="" />
    <meta name="keywords" content="马拉松,编程马拉松" />
    <link rel="stylesheet" href="css/normalize.css"/>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<div id="wrapper">
    <header>
        <div id="logo">
            <h1>Code Marathon / 编程马拉松 / プログラミングマラソン</h1>
        </div>
        <div id="desc"><span id="marathon-total">0</span></br> <p>人参加</p></div>
    </header>
    <div id="contents">
        <article>
            <section>
                <h2>活动介绍</h2>
                <p>编程马拉松，至少持续提交代码100天，最终目标是365天。不管如何，你总会有收获。</p>
            </section>
            <section>
                <h2>如何加入</h2>
                <p>请仔细阅读<a href="https://github.com/code-marathon/code-marathon.github.io/blob/master/README.md">此文档</a>，了解如何加入到编程马拉松的行列中来。</p>
            </section>
            <section>
                <h2>谁在这里</h2>
                <div id="members">

                </div>
            </section>
        </article>
    </div>
    <footer>
        <a href="https://github.com/code-marathon/code-marathon.github.io">帮助改进此网站</a>
    </footer>
</div>

<script id="membersTemplate" type="text/html">
    <% _.each(members, function (member, key, list) { %>
        <div class='member' id="member_<%= member.username %>">
            <h3>
                <a href="https://github.com/<%= member.username %>"><%= member.username %></a>
                <% if ( member.for_hire == true ) { %>
                    (for hire)
                <% } %>
            </h3>
            <div class="contributions">
                <iframe scrolling="no" src="http://jsonproxy.sinaapp.com/index.php?username=<%= member.username %>"></iframe>
            </div>
        </div>
    <% }); %>
</script>

<script id="streakTemplate" type="text/html">
    <div class="streaks">
        Current streak: <%= currentStreak.days %>
        ( <%= currentStreak.range %> )
    </div>
</script>

<script src="//upcdn.b0.upaiyun.com/libs/jquery/jquery-2.0.3.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-2.0.3.min.js"><\/script>')</script>
<script src="//cdn.staticfile.org/underscore.js/1.7.0/underscore-min.js"></script>
<script>window._ || document.write('<script src="js/underscore-1.7.0.min.js"><\/script>')</script>
<script type="text/javascript" src="js/common.js"></script>
</body>
</html>
